.deal {
  padding: 50px;

  .deal-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .deal-title-form {
    margin-bottom: 50px;
  }

  .deal-title-form label {
    font-weight: bold;
  }

  .segment {
    margin-bottom: 50px;
  }

  .reservation-point-form .reservation-point-checkbox-wrapper {
    text-align: center;
  }

  .reservation-point-form
  .reservation-point-checkbox-wrapper
  input[type=checkbox] {
    margin-right: 15px;
  }

  .reservation-point-text-form textarea {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
  }
}