.deal {
  padding: 50px;

  .deal-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .deal-title-form {
    margin-bottom: 50px;
  }

  .deal-title-form label {
    font-weight: bold;
  }
}