.deal {
  padding: 50px;

  .deal-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .deal-title-form {
    margin-bottom: 50px;
  }

  .deal-title-form label {
    font-weight: bold;
  }

  .segment {
    margin-bottom: 50px;
  }

  .reservation-point-form .reservation-point-checkbox-wrapper {
    text-align: center;
  }

  .reservation-point-form
  .reservation-point-checkbox-wrapper
  input[type=checkbox] {
    margin-right: 15px;
  }

  .reservation-point-text-form textarea {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
  }

  .deal-url-input-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .deal-url-input-wrapper input {
    display: inline-block;
    width: 75%;
  }

  .deal-url-input-wrapper button {
    width: 20%;
  }

  .deal-image-form-button-wrapper {
    margin-bottom: 20px;
  }

  .deal-image-form-button-wrapper label {
    margin-right: 15px;
  }

  .deal-image-form-button-wrapper span {
    font-weight: bold;
  }

  .deal-image-form .image-segment {
    padding: 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .deal-image-form .image-segment img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    object-fit: contain;
  }

  .deal-image-form-img-wrapper button {
    width: 100%;
    height: 100%;
  }
}