$pagination-color: #000;
$pagination-hover-color: #000;
$pagination-active-color: #000;
$pagination-active-bg: rgb(221, 221, 221);
$pagination-border-color: white;
$pagination-disabled-border-color: white;
