.partners {
  .partners-header-wrapper {
    padding: 40px 50px 0 50px;
  }

  .partners-header-wrapper .header {
    margin-bottom: 15px;
  }

  .partners-header-wrapper .dropdown {
    display: inline;
    margin-right: 20px;
  }

  .partners-inputs {
    display: flex;
    justify-content: space-between;
  }

  .partners-radio-wrapper {
    display: inline;
  }

  .partners-radio-wrapper button {
    margin-right: 10px;
  }

  .partners-table-wrapper {
    margin: 50px 0 30px 0;
  }

  .partners-pagination-wrapper {
    padding: 40px 50px 0 50px;
    margin-bottom: 50px;
  }
}
